@model GCCapstone.Data.ViewDataVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentUser.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentUser.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentUser.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentUser.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentUser.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentUser.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentUser.IsAdmin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentUser.IsAdmin)
        </dd>
    </dl>
    <hr />
    @if (Model.Enrollments.Count > 0)
    {
        <h5>Enrollments</h5>
        <dl class="row">

            @foreach (var enrollment in Model.Enrollments)
            {
                <dd class="col-sm-10">
                    @enrollment.Course.Name
                </dd>
                <dd class="col-sm-10">
                    @enrollment.Grade
                </dd>
            }
        </dl>
    }

    <a asp-action="Edit" asp-route-id="@Model.CurrentUser.UserId">Edit</a> |


    <div>
        <a asp-action="AddCourse" asp-controller="Course">Enroll</a> |
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CurrentUser.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
